
body{
    background-color: #2d2d47fb;
    font-family: cursive;
}
.text-zag h2{
    text-transform: lowercase;
    margin-top: 45px;
    text-align: center;
    color: white;
    font-size: 35px;
    
}

.nav-menu{

    list-style: none;
    display: flex;

}
.nav-menu li a{
    position: relative;
    left: 500px;
    top: -50px;
    font-weight: bold;
    transition: 1s;
    text-decoration: none;
    color: #fff;
    
}
.nav-menu li{
    padding-left: 65px;
    font-size: 20px;
    
}


.logo p {
    font-size: 23px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 120px;
}






   