@media (max-width:768px){
    .logo p{
        font-size: 18px;
        position: relative;
        left: -100px;
    }
    .nav-menu {
        position: absolute;
        left: -420px;
        top: 120px;
        display: block;
       
    }
    .nav-menu li{
       
         padding:3px;
 
     }
   .logo p{
    position: relative;
    top: 10px;
   }
   .text-zag{
    position: relative;
    top: 180px;
   }
}
@media (min-width:1024px){
.nav-menu li a:hover{
    font-size: 25px;
    transition: 1s;
    cursor: pointer;
    text-decoration: underline #e4360d;
}
}
